p {
  font-family: Lato;
}

h1,
h2,
h3,
h4 {
  color: DarkSlateGray;
  font-weight: 100;
}

.date {
  color: forestgreen;
  font-weight: 400;
}

.error {
  color: tomato;
}

.container,
.input-container {
  display: flex;
  flex-direction: column;
}

.container {
  gap: 2rem;
}

.input-container {
  gap: 8px;
}

.date-format-preview,
.filler-template {
  margin-top: 2rem;
}

.filler-template {
  color: rebeccapurple;
}
