<h1>Inputs with Angular Pipes</h1>
<div class="container">

  <!--Date Input with Pipe -- different formats -- just a note that you cannot change the date value for that input type if you want it to autofill from an API, but you can set the display of the date in the pipe-->
  <div class="input-container">
    <label for="dateInput">Start Date: </label>
    <input type="date" id="dateInput" [ngModel]="date" [ngModelOptions]="{updateOn:'blur'}" (ngModelChange)="date = $event"/>
  </div>

  <!--Currency Input-->
  <div class="input-container">
    <label for="moneyInput">Some Money Value (formats on blur): </label>
    <input type="text" id="moneyInput" [ngModel]="moneyValue | currency" [ngModelOptions]="{updateOn:'blur'}" (ngModelChange)="moneyValue = $event"/>
  </div>
</div>


<ng-container *ngIf="date">
  <h2>Date Format Preview (Date Picker Value)</h2>
  <p>{{date}}</p>
  <h2>Formatted</h2>
  <pre>Custom Formatting 1: {{ date | date: 'MM/dd/yyyy' }}</pre>
  <pre>Custom Formatting 2: {{ date | date: 'yyyy/MM/dd' }}</pre>
  <pre>Custom Formatting 3: {{ date | date: 'yyyy-MM-dd' }}</pre>
  <pre>Custom Formatting 4: {{ date | date: 'dd/MM/yyyy' }}</pre>

  <pre>Full: {{ date | date: 'full' }}</pre>
  <pre>Short: {{ date | date: 'short' }}</pre>
  <pre>Long: {{ date | date: 'long' }}</pre>
</ng-container>