<h1>Use this input field</h1>
<div class="container">
  <div class="input-container">
    <label for="dateInput">Start Date: </label>
    <input type="date" id="dateInput" [ngModel]="date" [ngModelOptions]="{updateOn:'blur'}" (ngModelChange)="date = $event"/>
  </div>

  <div class="input-container">
    <label for="moneyInput">Some Money Value (formats on blur): </label>
    <input type="text" id="moneyInput" [ngModel]="moneyValue | currency" [ngModelOptions]="{updateOn:'blur'}" (ngModelChange)="moneyValue = $event"/>
  </div>
</div>


<ng-container *ngIf="date">
  <h2>Date Format Preview (Date Picker Value)</h2>
  <p>{{date}}</p>
  <h2>Formatted</h2>
  <pre>Custom Formatting 1: {{ date | date: 'MM/dd/yyyy' }}</pre>
  <pre>Custom Formatting 2: {{ date | date: 'yyyy/MM/dd' }}</pre>
  <pre>Custom Formatting 3: {{ date | date: 'yyyy-MM-dd' }}</pre>
  <pre>Custom Formatting 4: {{ date | date: 'dd/MM/yyyy' }}</pre>

  <pre>Full: {{ date | date: 'full' }}</pre>
  <pre>Short: {{ date | date: 'short' }}</pre>
  <pre>Long: {{ date | date: 'long' }}</pre>
</ng-container>