<h1>Inputs with Angular Pipes</h1>
<div class="container">

  <!--Date Input with Pipe -- different formats -- just a note that you cannot change the date value for that input type if you want it to autofill from an API, but you can set the display of the date in the pipe-->
  <div class="input-container">
    <label for="dateInput">Start Date: </label>
    <input type="date" id="dateInput" [ngModel]="date" [ngModelOptions]="{updateOn:'blur'}" (ngModelChange)="date = $event"/>
  </div>

  <!--Currency Input-->
  <div class="input-container">
    <label for="moneyInput">Some Money Value (formats on blur): </label>
    <input placeholder="type a number value and a comma/dollar sign will be added" type="text" id="moneyInput" [ngModel]="moneyValue | currency" [ngModelOptions]="{updateOn:'blur'}" (ngModelChange)="moneyValue = $event"/>
  </div>
</div>



<ng-container *ngIf="!date">
  <p>Enter a Date for it to appear here</p>
  <hr />
</ng-container>

<ng-container *ngIf="date">
  <hr class="date-format-preview" />
  <h2>Date Format Preview (Date Picker Value)</h2>
  <p class="date">{{date}}</p>
  <hr />
  <h2>Formatted</h2>
  <pre>Custom Formatting 1: <strong class="date">{{ date | date: 'MM/dd/yyyy' }}</strong></pre>
  <pre>Custom Formatting 2: <strong class="date">{{ date | date: 'yyyy/MM/dd' }}</strong></pre>
  <pre>Custom Formatting 3: <strong class="date">{{ date | date: 'yyyy-MM-dd' }}</strong></pre>
  <pre>Custom Formatting 4: <strong class="date">{{ date | date: 'dd/MM/yyyy' }}</strong></pre>

  <pre>Full: <strong class="date">{{ date | date: 'full' }}</strong></pre>
  <pre>Short: <strong class="date">{{ date | date: 'short' }}</strong></pre>
  <pre>Long: <strong class="date">{{ date | date: 'long' }}</strong></pre>
</ng-container>