p {
  font-family: Lato;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

.date {
  color: green;
  font-weight: 400;
}

.error {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date-format-preview {
  margin-top: 2rem;
}
